@model lastWeb.Models.TopicModel

@{
    ViewData["Title"] = "Attach";
}

<h2>Attach Images</h2>

<h4>Reply</h4>
<hr />
<div class="blog-post-editor">
    <form asp-action="Attach" enctype="multipart/form-data">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b>
                    <label asp-for="Image1" class="col-md-2 control-label">Attach Image №1</label>
                </b>
                <div class="col-md-10">
                    <input asp-for="Image1" type="file" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <b>
                    <label asp-for="Image2" class="col-md-2 control-label">Attach Image №2</label>
                </b>
                <div class="col-md-10">
                    <input asp-for="Image2" type="file" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <b>
                    <label asp-for="Image3" class="col-md-2 control-label">Attach Image №3</label>
                </b>
                <div class="col-md-10">
                    <input asp-for="Image3" type="file" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Attach" class="btn btn-dark" />
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to Topic</a>
</div>